/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* Landing Page */
.landing-page {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #ADB2F0 100%);
}

/* IMG_1738 1 */
.img-1738 {
  position: absolute;
  width: 1149px;
  height: 764px;
  left: 15px;
  top: 113px;
  background: url(.png);
}

/* Spotify Aura */
.spotify-aura {
  position: absolute;
  width: 971px;
  height: 143px;
  left: 695px;
  top: 553px;
  font-family: 'Brown Sugar';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 150px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* What’s your aura? */
.whats-your-aura {
  position: absolute;
  width: 888px;
  height: 217px;
  left: 1017px;
  top: 386px;
  font-family: 'Antic Didone';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* Rectangle 3 */
.rectangle-3 {
  position: absolute;
  width: 401.64px;
  height: 144px;
  left: 759px;
  top: 733px;
  background: #1DB954;
  border-radius: 100.627px;
}

/* Rectangle 4 */
.rectangle-4 {
  position: absolute;
  width: 401.64px;
  height: 144px;
  left: 1260px;
  top: 733px;
  background: #EAEDFF;
  border-radius: 100.627px;
}

/* Connect Spotify */
.connect-spotify {
  position: absolute;
  width: 328px;
  height: 117.6px;
  left: 796px;
  top: 746px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 35.4212px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

/* Create Song List */
.create-song-list {
  position: absolute;
  width: 328px;
  height: 117.6px;
  left: 1297px;
  top: 746px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 35.4212px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ADB2F0;
}
