/* Landing Page */
.landing-page {
  position: relative;
  width: 100%;
  height: 100%;
  background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #ADB2F0 100%);
}

/* IMG_1738 1 */
.img-1738 {
  position: absolute;
  width: 1149px;
  height: auto;
  left: 15px;
  top: 113px;
  bottom: 203px;
  background: url(.png);
}

/* Spotify Aura */
.spotify-aura {
  position: absolute;
  width: 971px;
  left: 695px;
  right: 254px;
  bottom: 384px;
  font-family: 'Brown Sugar';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 150px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* What’s your aura? */
.whats-your-aura {
  position: absolute;
  width: 888px;
  height: 217px;
  left: 1027px;
  top: 326px;
  font-family: 'Antic Didone';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  /* display: flex; */
  align-items: center;
  text-align: center;
  color: #000000;
}

/* button 1 */
/* .button1 {
  position: absolute;
  width: 401.64px;
  height: 144px;
  left: 759px;
  top: 733px;
  background: #1DB954;
  border-radius: 100.627px;
} */

/* button 2 */
/* .button2 {
  position: absolute;
  width: 401.64px;
  height: 144px;
  left: 1260px;
  top: 733px;
  background: #EAEDFF;
  border-radius: 100.627px;
} */

/* Connect Spotify */
.connect-spotify {
  position: absolute;
  width: 328px;
  height: 117.6px;
  left: 796px;
  right: 796px;
  top: 746px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 35.4212px;
  line-height: 43px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

/* .connect-spotify {
  left: 759px;
  top: 625px;
  background: #1DB954;
  color: #FFFFFF;
  border-radius: 100.627px;
  border: none;
} 
*/


/* if its the only button */

.connect-spotify {
  left: 1340px;
  top: 625px;
  background: #1DB954;
  color: #FFFFFF;
  border-radius: 100.627px;
  border: none;
}

/* Create Song List */
.create-song-list {
  position: absolute;
  width: 328px;
  height: 117.6px;
  left: 1297px;
  top: 746px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 35.4212px;
  line-height: 43px;
  align-items: center;
  text-align: center;
  color: #ADB2F0;
}

/* create song list button */
.create-song-list {
  left: 1260px;
  top: 625px;
  background: #EAEDFF;
  color: #ADB2F0;
  border-radius: 100.627px;
  border: none;
}
